extends layout

block content
  h1= title
  p Introduce una expresion matematica
  form(name='form-expression', id='form-expression', method='POST', action='/eval')
    input(type='text', id='expression', name='expression')
    input(type='submit')
